/* SITEWIDE TEXT SETTINGS */

  button{
    background-color:#d3aa6c;
    border:none;
    color:#ffffff;
    font-weight: medium;
    font-family: avenir;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: default;
    text-transform: uppercase;
    width: 325px;
    height: 36px;
    margin-top: 20px;
  }

  @media screen and (min-width: 991px){
    button{

      color:#ffffff;

      font-size: 20px;

      width: 317px;
      height: 64px;

    }
  }

  h1 {
    color: #3A4E66;
    font-weight: 900;
    font-family: avenir;
    font-size: 30px;
    line-height: 150%;
  }

  h2 {
    color:#3a4e66;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 167.23%;
    margin-top:20px;
    margin-bottom:20px;
  }

  h3 {
    font-weight: 500;
    font-family: avenir;
    font-size: 20px;
    color:#d3aa6c;
    margin-top:20px;
    margin-bottom:20px;
  }

  h4{
    font-weight: medium;
    font-family: avenir;
    font-size: 16px;
    color:#3a4e66;

  }

  p{
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 167.23%;
    color: #3A4E66;
    margin-top:20px;
    margin-bottom:20px;
  }

  @media screen and (min-width: 991px){
    p{
      font-family: Baskerville;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 167.23%;
      color: #3A4E66;
      margin-top:20px;
      margin-bottom:20px;
    }
  }


  a{
    text-decoration: none;

  }




/* SITEWIDE HEADER NAVIGATION */


.navigation{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  color: #3A4e66;
  margin-bottom: 100px;
}

.logo {
  grid-column: span 1;
  justify-self: left;
  align-self: center;
}

.navigation-work{
  grid-column-start: 4;
  align-self: center;
  color: #3A4e66;
}

.navigation-about{
  grid-column-start: 5;
  align-self: center;
  color: #3A4e66;
}

.navigation-resume{
  grid-column-start: 6;
  align-self: center;
  color: #3A4e66;
}


/* HOMEPAGE SPECIFIC */


.homepage{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  margin:5%;
}

/* Navigation position */

.navigation{
  grid-column: span 4;
}

/* Hero positioning & properties */

.hero{
  grid-column: 1/span 4;
  grid-row: 2;
  margin-bottom: 100px;

}



.hero h1{

  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: ;
  color: #D3AA6C;
}


.hero h2{

  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: ;
  color: #3A4E66;
}

@media screen and (min-width: 991px){

  .hero{
    margin-left: 20%;
    margin-right: 20%
  }


  .hero h1 {
    font-size: 50px;
  }

  .hero h2{
    font-size: 35px;
  }

}

.hero-emphasis{
    font-weight: bold;
    font-style: italic;
  }

/* Recent work internal grid ,positioning on page & properties */

.recent-work{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  justify-items:center;
  margin-bottom: 100px;
}



.recent-work{
  grid-column: 1/span 4;
  grid-row-start: 4;
}



.recent-work-header{
  grid-column: 1/span 4;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 150%;
}


.verve-image{
  width: 323px;
  height: 323px;

}


  .project-logo{
    width: 155.38px;
    height: 56.46px;
  }

  .recent-work p{
    text-align: left;
    line-height: 167.23%;
  }

  .recent-work-header h1{
      color: #D3AA6C;
  }

  /* About me internal grid, positioning on page & properties */

  .about-me{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    justify-items:center;
    margin-bottom: 100px;
  }

  .about-me{
    grid-column: 1/span 4;
    grid-row-start: 6;
  }



  .about-me-header{
    grid-column: 1/span 4;
    width: 325px;
    height: 50px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 150%;
  }

.about-me-header h1{
      color: #D3AA6C;
    }

  .homepage-portrait{
    grid-column: 1/span 2;
  }


  .personal-image{
    width: 323px;
    height: 323px;
  }

  .footer{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    background-color: #3a4e66;
    text-align: center;
    display: block;
    padding: 20px;
  }

  .footer{
    grid-column: 1/span 4;
    grid-row-start: 8;
  }

  .footer-header{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #D3AA6C;
    line-height:normal;
    margin-top: 0px;
    margin-bottom: 7px;
  }

  .footer-links{
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: normal;
  }

  .footer-text{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 167.23%;
    text-align: center;
    text-transform: uppercase;
    color: #D3AA6C;
    margin-top: 7px;
    margin-bottom: 0px;
  }


/* ABOUT PAGE SPECIFIC */

.about-page{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  margin:5%;
}

.bio-title{
  grid-column: 1/span 4;
  grid-row: 2;
  margin-bottom: 100px;
}

.bio-title h1{
  color:#D3AA6C;
}

.about-page-bio{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    justify-items:center;
    margin-bottom: 100px;
}

.about-page-bio{
  grid-column: 1/span 4;
  grid-row-start: 6;
}


  /* PROJECT SPECIFIC */



.verve-case-study{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  margin:5%;
}

/*  */

.project-page-hero{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  justify-items:center;
  margin-bottom: 100px;
}



.project-page-hero{
  grid-column: 1/span 4;
  grid-row-start: 2;
}


  .bulletpoints{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items:center;
    align-items: top;
    padding: 2em;
    margin-bottom: 100px;
    background-color: #EBD7D0;
  }

  .bulletpoints{

    grid-column: 1/span 4;
    grid-row-start: 3;
  }




  .roles{
    /* width: 100%; */
    text-align: center;
  }

  .roles p {
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 167.23%;
    color: #3A4E66;
    margin-top: auto;
    margin-bottom: auto;
  }

  .roles-list{
    margin-top: 20px;
  }

  .deliverables{
    text-align: center;
  }

  .deliverables p {
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 167.23%;
    color: #3A4E66;
    margin-top: auto;
    margin-bottom: auto;
  }

  .deliverables-list{
    margin-top: 20px;
  }

  .tools-used{
    text-align: center;

  }

  .tools-used p {
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 167.23%;
    color: #3A4E66;
    margin-top: auto;
    margin-bottom: auto;
  }

  .tools-list{
    margin-top: 20px;
  }




  .tldr{
    grid-column: 1/span 4;
    grid-row-start: 4;
  }

  @media screen and (min-width: 991px){
    .tldr{
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  .summary{
    margin-top:20px;
    margin-bottom:20px;
  }

  .problem{
    margin-top:20px;
    margin-bottom:20px;
  }

  .solution{
    margin-top:20px;
    margin-bottom:20px;
  }


  .discovery-section1{
    grid-column: 1/span 4;
    grid-row-start: 5;
  }

  @media screen and (min-width: 991px){
    .discovery-section1{
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  .discovery-section2{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    justify-items:center;
  }

  .discovery-section2{
    grid-column: 1/span 4;
    grid-row-start: 6;
  }

  .molly{
    width:325px;
  }

  .angelica{
    width:325px;
  }

  .discovery-section3{
    grid-column: 1/span 4;
    grid-row-start: 7;
  }

  @media screen and (min-width: 991px){
    .discovery-section3{
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  .survey-chart{
    background-color: #EBD7D0;
    padding: 50px;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .chart-header{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    padding-top: 20px;
  }

  .chart-body{
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 167.23%;
    text-align: center;
    color: #3A4E66;
    padding-left: 20px;
    padding-right: 20px;
  }

  .chart-emphasis{
    font-weight: bold;
  }


  .persona{
    font-weight: bold;
  }

  .competitive-analysis{
    padding-top: 50px;
    padding-bottom: 50px ;
  }

  .swot-chart{
    margin-right: 10px;
  }



  .swot-logo1{
    text-align: center;
    border-left: 0.655242px solid #EBD7D0;
    border-right: 0.655242px solid #EBD7D0;
    border-top: 0.655242px solid #EBD7D0;
    background-color: #EBD7D0;
    padding:2em;
  }

  .swot1{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 19.4718px;
    line-height: 150%;
    color: rgba(147, 155, 165, 0.2);
    text-align: center;
    background-color: #EBD7D0;
    border-left: 0.655242px solid #EBD7D0;
    border-right: 0.655242px solid #EBD7D0;
  }

  .swot-points1{
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 167.23%;
    color: #3A4E66;
    padding-left: 50px;
    background-color: #EBD7D0;
    border-left: 0.655242px solid #EBD7D0;
    border-right: 0.655242px solid #EBD7D0;

  }

  .swot-points1 td{
    padding-top: -top: 2em;
    padding-bottom: 2em;
  }


  td{
    padding:5px;
  }

  .swot-logo2{
    text-align: center;
    border-left: 0.655242px solid #EBD7D0;
    border-right: 0.655242px solid #EBD7D0;
    padding:2em;
  }

  .swot2{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 19.4718px;
    line-height: 150%;
    color: rgba(147, 155, 165, 0.2);
    text-align: center;
    border-left: 0.655242px solid #EBD7D0;
    border-right: 0.655242px solid #EBD7D0;
  }

  .swot-points2{
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 167.23%;
    color: #3A4E66;
    padding-left: 50px;
    background-color: #FFFFFF;
    border-left: 0.655242px solid #EBD7D0;
    border-right: 0.655242px solid #EBD7D0;
  }

  .swot-points2 td{
    padding-top: -top: 2em;
    padding-bottom: 2em;
  }


  .swot-logo3{
      text-align: center;
      border-left: 0.655242px solid #EBD7D0;
      border-right: 0.655242px solid #EBD7D0;
      background-color: #EBD7D0;
      padding:2em;
  }

  .swot3{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 19.4718px;
    line-height: 150%;
    color: rgba(147, 155, 165, 0.2);
    text-align: center;
    background-color: #EBD7D0;
    border-left: 0.655242px solid #EBD7D0;
    border-right: 0.655242px solid #EBD7D0;
  }

  .swot-points3{
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 167.23%;
    color: #3A4E66;
    padding-left: 50px;
    background-color: #EBD7D0;
    border-left: 0.655242px solid #EBD7D0;
    border-right: 0.655242px solid #EBD7D0;
  }

  .swot-points3 td{
    padding-top: -top: 2em;
    padding-bottom: 2em;
  }

  .swot-logo4{
    text-align: center;
    border-left: 0.655242px solid #EBD7D0;
    border-right: 0.655242px solid #EBD7D0;
    padding:2em;
  }

  .swot4{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 19.4718px;
    line-height: 150%;
    color: rgba(147, 155, 165, 0.2);
    text-align: center;
    border-left: 0.655242px solid #EBD7D0;
    border-right: 0.655242px solid #EBD7D0;
  }

  .swot-points4{
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 167.23%;
    color: #3A4E66;
    padding-left: 50px;
    background-color: #FFFFFF;
    border-left: 0.655242px solid #EBD7D0;
    border-right: 0.655242px solid #EBD7D0;
    border-bottom: 0.655242px solid #EBD7D0;
  }

  .swot-points4 td{
    padding-top: -top: 2em;
    padding-bottom: 2em;
  }

  .information-architecture{
    margin-top: 100px;
  }

  .information-architecture-indented1{
    margin-top: 20px;
    grid-column: 1/span 4;
    grid-row-start: 8;
  }

  @media screen and (min-width: 991px){
    .information-architecture-indented1{
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  .information-architecture-fullwidth2{
    margin-top: 20px;
    grid-column: 1/span 4;
    grid-row-start: 9;
    justify-self: center;
  }

  @media screen and (min-width: 991px){
    .information-architecture-fullwidth2{
      margin-left: 20%;
      margin-right: 20%;
    }
  }


  .story-role{
    font-family: Baskerville;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 167.23%;
    color: #3A4E66;
    padding-left: 2em;
  }

  @media screen and (min-width: 991px){
    .story-role{
      font-size: 20px;
    }
  }

  .story-activity{
    font-family: Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 167.23%;
    color: #3A4E66;
    padding-right: 2em;
  }

  @media screen and (min-width: 991px){
    .story-activity{
      font-size: 20px;
    }
  }


  .table-peach{
    background: #EBD7D0;
  }

  .information-architecture-indented3{
    margin-top: 20px;
    grid-column: 1/span 4;
    grid-row-start: 10;
  }

  @media screen and (min-width: 991px){
    .information-architecture-indented3{
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  .information-architecture-fullwidth4{
    margin-top: 20px;
    grid-column: 1/span 4;
    grid-row-start: 11;
    text-align: center;

  }


  .onboard-flow{
    background: #EBD7D0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top:20px;
    width: 325px;
    height: auto;


  }

    @media screen and (min-width: 991px){
      .onboard-flow{
      width:60%;
      }
    }

    .all-flows{
      margin-top: 20px;
      grid-column: 1/span 4;
      grid-row-start: 12;
      justify-self:center;
        }

  .site-map-and-content{
    margin-top: 20px;
    grid-column: 1/span 4;
    grid-row-start: 13;

  }

  @media screen and (min-width: 991px){
    .site-map-and-content{
      margin-left: 20%;
      margin-right: 20%;
    }
  }


  .sitemap-pic{
    margin-top: 20px;
    grid-column: 1/span 4;
    grid-row-start: 14;
    justify-self:center;
  }

  .sitemap-pic{
    width:325px;
  }


  @media screen and (min-width: 991px){
      .sitemap-pic{
      margin-left: 20%;
      margin-right: 20%;
      width: 60%
    }
  }


  .sketches-intro{
    margin-top: 20px;
    grid-column: 1/span 4;
    grid-row-start: 15;
  }

  @media screen and (min-width: 991px){
      .sketches-intro{
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  .early-image{
    margin-top: 20px;
    grid-column: 1/span 4;
    grid-row-start: 16;
    width:300px;
    justify-self:center;
  }

  @media screen and (min-width: 991px){
      .early-image{
      margin-left: 20%;
      margin-right: 20%;
    }
  }


  .wireframes{
    margin-top: 20px;
    grid-column: 1/span 4;
    grid-row-start: 17;
    justify-self:center;


  }

.wireframes img {
  width: 80px;
}

  @media screen and (min-width: 991px){
  .wireframes img{
    width:100px;

  }
}


  @media screen and (min-width: 991px){
    .wireframes{
    margin-left: 20%;
    margin-right: 20%;

    }
  }

  .all-wireframes{
    margin-top: 20px;
    grid-column: 1/span 4;
    grid-row-start: 18;
    justify-self:center;
  }

  @media screen and (min-width: 991px){
      .all-wireframes{
      margin-left: 20%;
      margin-right: 20%;
    }
  }


  .user-testing{
    margin-top: 20px;
    grid-column: 1/span 4;
    grid-row-start: 19;
  }

  @media screen and (min-width: 991px){
      .user-testing{
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  .user-testing{
    padding-top: 50px;
  }

  .branding-indented1{
    margin-top:100px;
    margin-bottom:100px;
    grid-column: 1/span 4;
    grid-row-start: 20;
  }

  @media screen and (min-width: 991px){
    .branding-indented1{
      margin-left: 20%;
      margin-right: 20%;
    }
  }



  .branding-idea{
    width: 155.8px;
    height: 155.13px;
    display:inline-block;
  }

  .moodboard{
    display: block;
    width:325px;
    margin: 0 auto;
  }

    @media screen and (min-width: 991px){
      .moodboard{
        width:60%;
      }
    }

  .logo-sketches{
      display: block;
      width:325px;
      margin: 0 auto;
    }



      @media screen and (min-width: 991px){
        .logo-sketches{
          display: block;
          width:100%;
          margin: 0 auto;
        }
      }

  .logos-round-1{
    display: block;
    width:325px;
    margin: 0 auto;
  }

  @media screen and (min-width: 991px){
    .logos-round-1{
      display: block;
      width:60%;
      margin: 0 auto;
    }
  }

  .final-logo{
    display: block;
    width:325px;
    margin: 0 auto;
  }

  @media screen and (min-width: 991px){
    .final-logo{
      display: block;
      width:60%;
      margin: 0 auto;
    }
  }


  .branding-fullwidth2{
    margin-top:100px;
    margin-bottom:100px;
    grid-column: 1/span 4;
    grid-row-start: 21;

  }

  @media screen and (min-width: 991px){
      .branding-fullwidth2{
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  .type-chart{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    justify-items:center;
    margin-bottom: 100px;

  }

  .type-chart{
    grid-column: 1/span 4;
    grid-row-start: 22;
  }


  .type-study{
    width:60%;
  }

  .branding-indented3{
    margin-top:50px;
    margin-bottom:100px;
    grid-column: 1/span 4;
    grid-row-start: 23;
  }

  @media screen and (min-width: 991px){
      .branding-indented3{
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  .final-colors{
    width:100px;
    display:inline-block;
  }

  .color-palette button{
    display: block;
    margin: 0 auto;

  }


  .hifi-mockups img {
    width: 80px;
  }

    @media screen and (min-width: 991px){
    .hifi-mockups img{
      width:100px;

    }
  }





.test-images1 {
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items:center;

}

.test-images2 {
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  justify-items:center;

}

  .button-test{
    width: 325px;
  }



  .dashboard-test{
    width: 325px;
  }

  .homepage-test1{
    width: 325px;

  }

  .homepage-test2{
    width: 325px;
  }

  .menus{
    width:325px;
  }

  @media screen and (min-width: 991px){
    .menus{
      width: 100%;
    }
  }

  .empty-state-dashboards{
    width:325px;
  }

  @media screen and (min-width: 991px){
    .empty-state-dashboards{
      width:auto;
    }
  }

  .final-revision-screens{
    width: 325px;
   }

   @media screen and (min-width: 991px){
     .final-revision-screens{
       width:auto;
     }
   }

  .lessons-learned {
    margin-bottom: 50px;
    grid-column: 1/span 4;
    grid-row-start: 24;
  }

  @media screen and (min-width: 991px){
      .lessons-learned{
      margin-left: 20%;
      margin-right: 20%;
    }
  }

  .bottom-nav{
    margin-bottom: 100px;
    grid-column: 1/span 4;
    grid-row-start: 25;
  }

  @media screen and (min-width: 991px){
      .bottom-nav{
      margin-left: 20%;
      margin-right: 20%;
    }
  }

.bottom-nav{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  justify-items:center;

}

  .top{
    grid-column: 1;
  }

  .top-text{
    grid-column: 2;
  }

  .next-text{
      grid-column: 5;
  }

  .next{
      grid-column: 6;
  }

  .verve-footer{
    box-sizing: border-box;
    background-color: #3a4e66;
    text-align: center;
    display: block;
    padding: 20px;
    grid-column: 1/span 4;
    grid-row-start: 26;
  }


  .verve-footer-header{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #D3AA6C;
    line-height:normal;
    margin-top: 0px;
    margin-bottom: 7px;
  }

  .verve-footer-links{
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: normal;
  }

  .verve-footer-text{
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 167.23%;
    text-align: center;
    text-transform: uppercase;
    color: #D3AA6C;
    margin-top: 7px;
    margin-bottom: 0px;
  }
