/* Desktop hero settings */

.hero{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 1fr auto 1fr;
  max-width: 1366px;
  margin:80px;
  height:416px;
}

.hero-headline{
  grid-column: 1/span 7;
  grid-row: 1/span 1;
  align-self:flex-end;
}

.hero-copy{
grid-column: 1/span 7;
grid-row: 2/span 1;

}


.hero-image{
  grid-column: 9/span 4;
  grid-row: 1/span 3;
  /* width: 100%; */
  height:auto;
  width:100%;
  /* box-shadow: 0px 0px 19px -6px #000000; */
}

/* Mobile Hero settings */

@media screen and (max-width: 768px){
  .hero{
    display:grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto auto auto 1fr;
    max-width: 768px;
    margin:25px;
    height:auto;
  }

  .hero-headline{
    grid-column: 1/span 4;
    grid-row: 1/span 1;
    align-self:flex-end;
  }


  .hero-image{
    grid-column: 1/span 4;
    grid-row: 2/span 1;
    width: 100%;
    /* box-shadow: 0px 0px 19px -6px #000000; */
    margin-bottom: 50px;
    margin-top: 50px;
    height:auto;
    width:100%;

  }

  .hero-copy{
  grid-column: 1/span 4;
  grid-row: 3/span 1;
  }

}

/* Desktop Bio settings */

.about-page-bio{
  /* Display: grid;
  grid-gap:20px;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto auto; */
  max-width: 1366px;
  margin:80px;
}


/* Mobile Bio Settings */

/* Mobile Brief Settings */

@media screen and (max-width: 768px){

  .about-page-bio{
    /* Display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto auto; */
    max-width: 1366px;
    margin-left: 25px;
    margin-right: 25px;
  }

}
