

/* Desktop Body Grid */

.body{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: auto;
  max-width: 1366px;
  margin:80px;
}



/* Mobile Body Grid  */

@media screen and (max-width: 768px){

  .body{
    display:grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    max-width: 1366px;
    margin:15px;
  }

}


/* Primary Navigation Grid */

.primary-navigation{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 100px 1fr;
  grid-column: 1/span 12;
}

/* Primary navigation link position */

.nav-work{
  grid-column: 9/span 1;
}

.nav-about{
  grid-column: 10/span 1;
}

.nav-resume{
  grid-column: 11/span 1;
}

.nav-contact{
  grid-column: 12/span 1;
}

/*
Hero section */

.hero{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-column: 1/span 12;
  grid-row:2;
}

.hero-headline{
  grid-column: 1/span 7;
  grid-row: 1/span 1;
}


.hero-copy{
grid-column: 1/span 7;
grid-row: 2/span 2;

}

.hero-work{
grid-column: 1/span 3;
grid-row: 3/span 1;

}

.hero-contact{
grid-column: 4/span 3;
grid-row: 3/span 1;

}
